
* {box-sizing: border-box}
body {
    font-family: Verdana, sans-serif; 
    margin:0
}


img {
    vertical-align: middle;
}

.slideshow-container {
  height: 800px;
  width: 533px;
  position: relative;
  margin: auto;
}



.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
    width: 100px;
    height: 100px;
    color: aliceblue;
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
  width: 100px;
  height: 100px;
  color: aliceblue;
  cursor: pointer;
  position: absolute;
  top: 50%;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.dot {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.active, .dot:hover {
  background-color: #717171;
}




